.perfil{
    max-width: 250px;
    max-height: 250px;
    padding-left: 5px;
}

.N{
    background-color: rgb(255, 255, 255);
}

.IP{
    background-color: rgb(255, 255, 255);
}

body{
    background-color: lightgray;
}

.IC{
    background-color: rgb(255, 255, 255);
}

.R{
    background-color: rgb(255, 255, 255);
}

.FA{
    background-color: rgb(255, 255, 255);
}

.CE{
    background-color: rgb(255, 255, 255);
}

.C{
    background-color: rgb(255, 255, 255);
}

.L{
    background-color: rgb(255, 255, 255);
}

.OH{
    background-color: rgb(255, 255, 255);
}

.IA{
    background-color: rgb(255, 255, 255);
}